* {
  font-family: "Roboto", sans-serif;
  
}

.text {
  position: relative;
}



.text::after {
  content: "";
  border-left: 3px solid black;
  background: white;
  right: 0;
  height: 100%;
  position: absolute;
  animation: maquinaescribir 3s infinite alternate steps(30);
}

@keyframes maquinaescribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/*##################################*/

.information {
  /*border: 1px solid red;*/

  width: 100%;
  height: 40vh;

  margin-left: 0%;
  margin-right: 0%;

  padding: 0%;

  color: white;

  font-size: 8vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a010-markusspiske-feb19-msp_1902_4971.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=2ab6b6af53f59e0dff4ce2f96b53f5c2);
}

.proyects{
  margin-top: 3%;
}
.card{
  margin-left: 5%;
}

h2{
  margin-left: 3%;
  margin-top: 2%;
}
.sc-skills{

  height: max-content;
  width: 100%;
}

.sc-skills > p{
  font-size: 20px;
  margin-left: 3%;
}

.dv-skills {
  display: flex;

  height: max-content;
  justify-content: center;
  
  
}

.sc-contact{
  height: max-content;
  width: 100%;
  margin-bottom: 25px;
}

.sc-contact > p{
  font-size: 20px;
  margin-left: 4%;
}

.sc-contact > h2{
  margin-left: 4%;
}

.dv-contact{
  width: max-content;

  display: flex;

  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img{
  padding: 3px;
  height: 100px;

  margin-right: 40px;
  margin-left: 40px;

  margin-top: 10px;
  margin-bottom: 10px;
}


